*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    min-width: 300px;
}

img {
    height: 300px;
    width: 300px;
}

btn {
    font-size: 1.25rem;
}

.header {
    margin: 25px;
}

.header-btns {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.navbar {
    margin: 35px;
}

.home-text {
    font-size: 1.25rem;
}

.home-img {
    margin: 30px;
}

.menu {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 20%;
    min-width: 300px;
}

.menu-item {
    width: 45%;
    margin-bottom: 50px;
}

.phone-number {
    margin-top: 15px;
    font-size: 1.25rem;
}

.item-name {
    margin: 10px 0;
}

.contact {
    margin-top: 5%;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .menu-item {
        width: 100%;
    }
}